@model VehicleCompany.Models.EditUserRolesViewModel
@* @model VehicleCompany.Models.RoleSelectionViewModel *@
@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить</h1>

<h4>Пользователя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Имя пользователя</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Password" class="control-label"></label> *@
                <input type="hidden" asp-for="Password" class="form-control" />
                @* <span asp-validation-for="Password" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

    <table class="table">
                <thead>
                    <tr>
                        <th>Роль</th>
                        <th>Назначенна</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Roles.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.Roles[i].RoleName
                                <input type="hidden" asp-for="Roles[i].RoleId" />
                                <input type="hidden" asp-for="Roles[i].RoleName" />
                            </td>
                            <td>
                                <input type="radio"
                                       name="SelectedRoleId"
                                       value="@Model.Roles[i].RoleId"
                                       @(Model.Roles[i].IsSelected ? "checked" : "") />
                            </td>
                        </tr>
                    }
                </tbody>

    </table>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
