@model VehicleCompany.Models.Trip

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить?</h1>

<div>
    <h4>Поездку</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            id маршрута
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route_id)
        </dd>
        <dt class = "col-sm-2">
            Начало
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_time)
        </dd>
        <dt class = "col-sm-2">
            Конец
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_time)
        </dd>
        <dt class = "col-sm-2">
            id назначенного транспорта
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assigned_vehicle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Назад</a>
    </form>
</div>
