@model VehicleCompany.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<div>
    <h4>Бронь</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Пользователя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_id)
        </dd>
        <dt class = "col-sm-2">
            На место
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat_id)
        </dd>
        <dt class = "col-sm-2">
            Поездки
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trip_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Назад</a>
    </form>
</div>
