@model VehicleCompany.Models.Route

@{
    ViewData["Title"] = "Route Details";
}
@{
    var userPermissions = User.Claims
        .Where(c => c.Type == "Permission")
        .Select(c => c.Value)
        .ToList();
}
<h1>Подробности маршрута</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Продолжительность</dt>
        <dd class="col-sm-10">@Model.Travel_time</dd>
        <dt class="col-sm-2">Цена</dt>
        <dd class="col-sm-10">@Model.Price</dd>
        <dt class="col-sm-2">Остановки</dt>
        <dd class="col-sm-10">
            @if (Model.RouteStops?.Any() == true)
            {
                <ol class="mb-0">
                    @foreach (var rs in Model.RouteStops.OrderBy(rs => rs.stop_number))
                    {
                        <li>@(rs.Stop?.Name ?? "—")</li>
                    }
                </ol>
            }
            else
            {
                <span>Нет остановок.</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="BookTrip" asp-route-id="@Model?.Id" class="btn btn-success">Забронировать поездку</a> |
    @if (userPermissions.Contains("edit_route"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Изменить поездку</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</div>
