@model IEnumerable<VehicleCompany.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Транспорт</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_info)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Изменить</a>
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
